version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: friends_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: friends_backend
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    restart: unless-stopped


  bot:
    build:
      context: .
      dockerfile: Dockerfile.bot
    container_name: friends_bot
    volumes:
      - .:/code
    env_file:
      - .env
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  postgres_data: